.DS_store
.coverage
.coveragerc
.eggs/
.gitconfig
.idea/
.docs/
release.sh
requirements.txt
__pycache__/
build/
dist/patteRNA-1.0.0-py3.5.egg
src/patteRNA.egg-info/
tests/
htmlcov/
analytics/
sphinx/
dist/
test/
*venv/
