.DS_store
.coverage
.coveragerc
.eggs/
.gitconfig
.idea/
.docs/
.pytest_cache/
release.sh
requirements.txt
__pycache__/
venv/
build/
dist/*.egg
src/patteRNA.egg-info/
tests/outputs
htmlcov/
analytics/
sphinx/
patterna-lab-venv/
data_store/
temp_data/
temp_output/
test_output/
.vscode/
*.pyc
sample_data/sample_output/